
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/BackstageView.cshtml";
}
@* 面包屑导航 *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/LeaseHouse/Index">首页</a></li>
        <li class="breadcrumb-item"><a href="/LeaseHouse/Index">出租房信息管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">出租房信息</li>
    </ol>
</nav>
<h2>出租房信息</h2>

