
@{
    ViewBag.Title = "SingleEdit";
    Layout = "~/Views/BackstageView.cshtml";
}

@using _201817380227易炽昆.Models
@{
    
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">首页</a></li>
        <li class="breadcrumb-item"><a href="#">出租房信息</a></li>
        <li class="breadcrumb-item"><a href="/LeaseHouse/SingleLease">单人租房信息</a></li>
        <li class="breadcrumb-item active" aria-current="page">修改信息</li>
    </ol>
</nav>

